

.container {
    position: relative;
    text-align: center;
    color: limegreen;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



body {
    font-family: "Lucida Console", Lucida, Monospace;
    background:#eeeeee;
	color:Black;
	font:normal 10 px;
	text-align:center; 
	}

